<footer class="footerSection">
  <div class="divCentrale">
    <div class="container">
      <div class="row align-items-center gy-5">

        <div class="col-lg-5" style="margin-top: 0;">
          <img src="assets/Presentazione/prova2.png" alt="" class="img-fluid">
        </div>

        <div class="col-lg-7">
          <div class="row gy-4 footerLinksArea">

            <div class="col-md-4">
              <div class="footerColumn">
                <h4 class="footerTitle">Contatti</h4>
                <a href="" class="footerLink">Email</a>
                <a href="" class="footerLink">Telefono</a>
                <a href="" class="footerLink">Indirizzi</a>
                <a href="" class="footerLink">Filiali</a>
                <a href="" class="footerLink">Altri</a>
              </div>
            </div>

            <div class="col-md-4">
              <div class="footerColumn">
                <h4 class="footerTitle">Social</h4>
                <a href="" class="footerLink">Instagram</a>
                <a href="" class="footerLink">Facebook</a>
                <a href="" class="footerLink">X</a>
                <a href="" class="footerLink">Whatsapp</a>
                <a href="" class="footerLink">TikTok</a>
                <a href="" class="footerLink">Telegram</a>
              </div>
            </div>

            <div class="col-md-4">
              <div class="footerColumn">
                <h4 class="footerTitle">Sviluppatori</h4>
                <a href="" class="footerLink">Sviluppatore 1</a>
                <a href="" class="footerLink">Sviluppatore 2</a>
                <a href="" class="footerLink">Sviluppatore 3</a>
              </div>
            </div>

          </div>
        </div>

      </div>
      <hr>
      <div class="row d-flex justify-content-center align-items-center" style="margin-top: 6vh;">
        <p class="col-md-4">Tutti i diritti sono riservati a ABC Stories</p>
        <div class="col-md-4 d-flex justify-content-center">
          <img src="assets/Loghi/Logo2.png" alt="" height="60px" width="60px">
        </div>
        <div class="col-md-4 d-flex justify-content-center">
          <p>Privacy Policy. Terms of Use.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
