@use "../../../scss/colori.scss";

footer {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px) saturate(160%);
  -webkit-backdrop-filter: blur(350px) saturate(300%);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
  border-radius: 50px 0 0;
}

.marginiTop {
  margin-top: 80px;
}

.marginiBottom {
  margin-bottom: 80px;
}

.afooter {
  color: black;
  text-decoration: none;
  font-size: large;
}
