<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container mt-1 mb-1">
    <!-- Aggiungere animazione all'hover prolungato -->
    <a [routerLink]="['/']"><img src="assets/Loghi/Logo2.png" alt="Logo" height="60px" id="logo" class="me-3" /></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link link active" [routerLink]="['/']"><span>Home</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <span>Generi</span>
          </a>
          <ul class="dropdown-menu mega-menu">
            <div class="mega-wrapper"> <!-- Wrapper generale che contiene tutto  -->
              <div class="mega-left"> <!-- Barra di sinistra  -->

                <div class="mega-item">
                  <a class="dropdown-item" href="#"><img src="assets/Icone/horror.png" height="25px"> Horror</a>
                  <div class="mega-right">

                    <!-- Contenitore scrollabile delle immagini -->
                    <div class="image-slider">
                      <button class="img-arrow left">&#10094;</button>

                      <div class="scroll-images d-flex p-3">
                        <div class="container">
                          <img src="assets/Presentazione/gattopardo.jpg" alt="" height="210px">
                        </div>
                        <div class="container">
                          <img src="assets/Presentazione/la-strada.jpg" alt="" height="210px">
                        </div>
                        <div class="container">
                          <img src="assets/Presentazione/siddhartha.jpg" alt="" height="210px">
                        </div>
                        <div class="container">
                          <img src="assets/Presentazione/dune.jpg" alt="" height="210px">
                        </div>
                        <div class="container">
                          <img src="assets/Presentazione/codice-da-vinci.jpg" alt="" height="210px">
                        </div>
                        <div class="container">
                          <img src="assets/Presentazione/hp1.jpg" alt="" height="210px">
                        </div>
                        <div class="container">
                          <img src="assets/Presentazione/metamorfosi.jpg" alt="" height="210px">
                        </div>
                        <div class="container">
                          <img src="assets/Presentazione/promessi-sposi.jpg" alt="" height="210px">
                        </div>
                      </div>

                      <button class="img-arrow right">&#10095;</button>
                    </div>


                    <hr class="dropdown-divider" />

                    <!-- Contenuto fisso sotto le immagini -->
                    <div class="fixed-content d-flex justify-content-center align-items-center">
                      <!-- da togliere lo style -->
                      <a href="#" style="text-decoration: none; color:black;" class="link arrow">Esplora il catalogo <i
                          class="bi bi-arrow-right"></i></a>
                    </div>

                  </div>
                </div>

                <hr class="dropdown-divider" />

                <div class="mega-item">
                  <a class="dropdown-item" href="#"><img src="assets/Icone/western.png" height="25px"> Western</a>
                  <div class="mega-right">

                    <!-- Contenitore scrollabile delle immagini -->
                    <div class="scroll-images d-flex p-3">
                      <div class="container">
                        <img src="assets/Presentazione/codice-da-vinci.jpg" alt="" height="210px">
                      </div>
                      <div class="container">
                        <img src="assets/Presentazione/hp1.jpg" alt="" height="210px">
                      </div>
                      <div class="container">
                        <img src="assets/Presentazione/metamorfosi.jpg" alt="" height="210px">
                      </div>
                      <div class="container">
                        <img src="assets/Presentazione/promessi-sposi.jpg" alt="" height="210px">
                      </div>
                    </div>

                    <hr class="dropdown-divider" />

                    <!-- Contenuto fisso sotto le immagini -->
                    <div class="fixed-content d-flex justify-content-center align-items-center">
                      <!-- da togliere lo style -->
                      <a href="#" style="text-decoration: none; color:black;" class="link arrow">Esplora il catalogo <i
                          class="bi bi-arrow-right"></i></a>
                    </div>

                  </div>
                </div>

                <hr class="dropdown-divider" />

                <div class="mega-item">
                  <a class="dropdown-item" href="#">Western</a>
                  <div class="mega-right">
                    <div>western 1</div>
                    <div>western 2</div>
                  </div>
                </div>

                <hr class="dropdown-divider" />

                <div class="mega-item">
                  <a class="dropdown-item" href="#">Western</a>
                  <div class="mega-right">
                    <div>western 1</div>
                    <div>western 2</div>
                  </div>
                </div>

                <hr class="dropdown-divider" />

                <div class="mega-item">
                  <a class="dropdown-item" href="#">Western</a>
                  <div class="mega-right">
                    <div>western 1</div>
                    <div>western 2</div>
                  </div>
                </div>

                <hr class="dropdown-divider" />

                <div class="mega-item">
                  <a class="dropdown-item" href="#">Western</a>
                  <div class="mega-right">
                    <div>western 1</div>
                    <div>western 2</div>
                  </div>
                </div>

                <hr class="dropdown-divider" />

                <div class="mega-item">
                  <a class="dropdown-item" href="#">Western</a>
                  <div class="mega-right">
                    <div>western 1</div>
                    <div>western 2</div>
                  </div>
                </div>

                <hr class="dropdown-divider" />

                <div class="mega-item">
                  <a class="dropdown-item" href="#">Western</a>
                  <div class="mega-right">
                    <div>western 1</div>
                    <div>western 2</div>
                  </div>
                </div>

                <hr class="dropdown-divider" />

                <div class="mega-item">
                  <a class="dropdown-item" href="#">Western</a>
                  <div class="mega-right">
                    <div>western 1</div>
                    <div>western 2</div>
                  </div>
                </div>

              </div>

            </div>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active link" href="#"><span>Community</span></a>
        </li>
      </ul>
      <div class="d-flex align-items-center">
        <div class="container-input me-3">
          <input type="text" placeholder="Search" name="text" class="input" />
          <svg fill="#000000" width="20px" height="20px" viewBox="0 0 1920 1920" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M790.588 1468.235c-373.722 0-677.647-303.924-677.647-677.647 0-373.722 303.925-677.647 677.647-677.647 373.723 0 677.647 303.925 677.647 677.647 0 373.723-303.924 677.647-677.647 677.647Zm596.781-160.715c120.396-138.692 193.807-319.285 193.807-516.932C1581.176 354.748 1226.428 0 790.588 0S0 354.748 0 790.588s354.748 790.588 790.588 790.588c197.647 0 378.24-73.411 516.932-193.807l516.028 516.142 79.963-79.963-516.142-516.028Z"
              fill-rule="evenodd"></path>
          </svg>
        </div>

        <a [routerLink]="['/register']" class="text-decoration-none text-black link" style="padding: 8px;"><span>Registrati</span></a>
        <a [routerLink]="['/login']" class="text-decoration-none text-black link" style="padding: 8px;"><span>Login</span></a>
      </div>
    </div>
  </div>
</nav>
